.trans, #primary[role="practice"] #content[role="main"] aside .areas ul li, #primary[role="news"] #content[role="main"] aside .areas ul li {
  -webkit-transition: color 0.35s ease;
  -moz-transition: color 0.35s ease;
  -ms-transition: color 0.35s ease;
  -o-transition: color 0.35s ease;
  transition: color 0.35s ease; }

h1, h2, h3, h4, h5 {
  font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif; }

h1 {
  font-size: 24px;
  line-height: 26px; }

h2 {
  font-size: 18px;
  line-height: 24px; }

#chat {
  opacity: .8;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #chat:hover {
    opacity: 1; }

a:hover {
  text-decoration: none !important; }

.site-main {
  max-width: 100%;
  overflow: hidden; }

footer .social .container .links a,
div#primary-border,
#navbar-bg,
.site-title,
img {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.fancy, #primary[role="home"] #content .row .accidents .content h4, #primary[role="home"] #content .row .malpractice .content h4, #primary[role="practice"] #content[role="main"] .content-section header h4 {
  line-height: 0.2; }

.fancy span, #primary[role="home"] #content .row .accidents .content h4 span, #primary[role="home"] #content .row .malpractice .content h4 span, #primary[role="practice"] #content[role="main"] .content-section header h4 span {
  display: inline-block;
  position: relative; }

.fancy span:before, #primary[role="home"] #content .row .accidents .content h4 span:before, #primary[role="home"] #content .row .malpractice .content h4 span:before, #primary[role="practice"] #content[role="main"] .content-section header h4 span:before,
.fancy span:after,
#primary[role="home"] #content .row .accidents .content h4 span:after,
#primary[role="home"] #content .row .malpractice .content h4 span:after,
#primary[role="practice"] #content[role="main"] .content-section header h4 span:after {
  content: "";
  position: absolute;
  height: 5px;
  background-image: url("../img/stripe-border.png");
  background-repeat: repeat-x;
  top: 0;
  width: 600px; }

.fancy span:before, #primary[role="home"] #content .row .accidents .content h4 span:before, #primary[role="home"] #content .row .malpractice .content h4 span:before, #primary[role="practice"] #content[role="main"] .content-section header h4 span:before {
  right: 100%;
  margin-right: 8px; }

.fancy span:after, #primary[role="home"] #content .row .accidents .content h4 span:after, #primary[role="home"] #content .row .malpractice .content h4 span:after, #primary[role="practice"] #content[role="main"] .content-section header h4 span:after {
  left: 100%;
  margin-left: 8px; }

#intro .inner ul.slides {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 348px; }
  #intro .inner ul.slides li {
    max-height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; }
#intro[role="home"] .inner ul.slides {
  height: 348px; }
  #intro[role="home"] .inner ul.slides li {
    height: 348px; }
#intro[role="profile"] .inner ul.slides, #intro[role="practice"] .inner ul.slides, #intro[role="news"] .inner ul.slides {
  height: 272px; }
  #intro[role="profile"] .inner ul.slides li, #intro[role="practice"] .inner ul.slides li, #intro[role="news"] .inner ul.slides li {
    height: 272px; }

#primary {
  margin-top: 0px;
  padding-top: 50px;
  background-position: center top;
  position: relative; }
  #primary[role="profile"], #primary[role="practice"], #primary[role="news"] {
    margin-top: 0px; }
  #primary div#primary-border {
    background-image: url("../img/orange-border.png");
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
    height: 4px;
    top: 0; }
  #primary[role="profile"] {
    margin-top: 0px; }
  #primary div#primary-bg {
    background-image: url("../img/bg-pattern.png");
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 7px;
    bottom: 0;
    right: 0; }
  #primary #content[role="main"] {
    max-width: 1255px;
    margin: 0 auto;
    position: relative; }
    #primary #content[role="main"] #chat {
      position: absolute;
      margin-top: -275px;
      right: 0; }

#searchform {
  padding-top: 110px;
  max-width: 270px;
  margin: 0 auto;
  position: relative; }
  #searchform:after {
    content: "\f002";
    display: block;
    right: 10px;
    font-weight: normal;
    bottom: 10px;
    font-family: fontawesome;
    position: absolute;
    color: #fff; }
  #searchform input[type="search"] {
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: normal;
    color: white !important;
    font-style: italic;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    background-color: #5f889a;
    position: relative !important;
    display: block; }
  #searchform .screen-reader-text {
    color: #ffffff;
    text-indent: -500px;
    display: block; }

#primary[role="home"] {
  padding-top: 0; }
  #primary[role="home"] #content .row {
    margin-bottom: 0px; }
    #primary[role="home"] #content .row a {
      margin-top: 55px; }
    #primary[role="home"] #content .row .areas h5 {
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #282217;
      text-transform: uppercase;
      margin: 0 0 6px;
      padding: 0;
      display: inline-block;
      position: relative; }
      #primary[role="home"] #content .row .areas h5:after {
        content: "\f178";
        display: block;
        font-family: fontawesome;
        position: absolute;
        top: 0;
        right: -25px; }
    #primary[role="home"] #content .row .areas div.content {
      border-width: 1px 0 0;
      border-style: solid;
      border-color: #adaba7;
      display: block;
      padding: 15px 0 0; }
      #primary[role="home"] #content .row .areas div.content p {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        line-height: 26px;
        margin-bottom: 22px; }
    #primary[role="home"] #content .row .areas span.more {
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 21px;
      font-weight: 700;
      color: #ff9700;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      float: left;
      position: relative; }
      #primary[role="home"] #content .row .areas span.more:after {
        content: "\f067";
        position: absolute;
        top: 8px;
        right: -15px;
        display: block;
        font-family: fontawesome;
        font-size: 10px;
        font-weight: normal; }
    #primary[role="home"] #content .row .accidents .content {
      overflow: hidden; }
      #primary[role="home"] #content .row .accidents .content h4 {
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #282217;
        text-align: center;
        text-transform: uppercase;
        padding: 0; }
        #primary[role="home"] #content .row .accidents .content h4 span {
          margin: 0;
          padding: 0; }
    #primary[role="home"] #content .row .malpractice .content {
      overflow: hidden; }
      #primary[role="home"] #content .row .malpractice .content h4 {
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #282217;
        text-align: center;
        text-transform: uppercase;
        padding: 0; }
        #primary[role="home"] #content .row .malpractice .content h4 span {
          margin: 0;
          padding: 0; }

#feeds {
  background-image: url("../img/orange-border.png");
  background-repeat: repeat-x;
  background-position: center top;
  margin-top: 25px;
  padding-top: 65px;
  position: relative;
  z-index: 99;
  padding-bottom: 20px; }
  #feeds .inner {
    max-width: 1255px;
    margin: 0 auto; }
    #feeds .inner .row .news h5 {
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #282217;
      text-transform: uppercase;
      margin: 0 0 6px;
      padding: 0;
      display: inline-block;
      position: relative; }
      #feeds .inner .row .news h5:after {
        content: "\f178";
        display: block;
        font-family: fontawesome;
        position: absolute;
        top: 0;
        right: -25px; }
    #feeds .inner .row .news .content {
      border-width: 1px 0 0;
      border-style: solid;
      border-color: #adaba7;
      display: block;
      padding: 15px 0 0; }
      #feeds .inner .row .news .content p {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        line-height: 26px;
        margin-bottom: 22px; }
    #feeds .inner .row .news a.more {
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 21px;
      font-weight: 700;
      color: #ff9700;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      float: left;
      position: relative; }
      #feeds .inner .row .news a.more:after {
        content: "\f067";
        position: absolute;
        top: 8px;
        right: -15px;
        display: block;
        font-family: fontawesome;
        font-size: 10px;
        font-weight: normal; }
    #feeds .inner .row .post .featured img {
      max-width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    #feeds .inner .row .post h5 {
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 700;
      color: #282217;
      text-transform: uppercase;
      margin-top: 18px;
      margin-bottom: 15px; }
    #feeds .inner .row .post .entry-meta {
      margin-bottom: 5px; }
      #feeds .inner .row .post .entry-meta span {
        font-family: Georgia;
        font-size: 16px;
        font-weight: normal;
        color: #afadaf;
        font-style: italic;
        line-height: 40px; }
    #feeds .inner .row .post .excerpt p {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      line-height: 26px; }

.profilehead, #primary[role="profile"] aside h1, #primary[role="profile"] .content-section h1, #primary[role="profile"] .content-section .content section h1, #primary[role="practice"] #content[role="main"] .content-section section #bio-wrap h1 {
  font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #1d94ae;
  line-height: 66px;
  margin-top: 0;
  display: block;
  text-transform: uppercase; }

.profile-small, #primary[role="profile"] .content-section .content section p, #primary[role="practice"] #content[role="main"] .content-section section p, #primary[role="practice"] #content[role="main"] .content-section section #bio-wrap p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #333333;
  line-height: 20px; }

#primary[role="profile"] #content[role="main"] #chat {
  margin-top: -78px; }
#primary[role="profile"] aside div.entry-content {
  padding-right: 95px; }
  #primary[role="profile"] aside div.entry-content p {
    font-style: italic;
    font-family: Georgia;
    font-size: 21px;
    font-weight: normal;
    color: #333333; }
#primary[role="profile"] .content-section {
  margin-right: 0;
  padding-right: 0; }
  #primary[role="profile"] .content-section .content section {
    border-bottom: 1px solid #adaba7;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 40px;
    padding-bottom: 35px; }
    #primary[role="profile"] .content-section .content section:last-child {
      border-bottom: none; }
    #primary[role="profile"] .content-section .content section #photo-wrap #photo {
      margin-bottom: 10px;
      float: left;
      width: 238px;
      height: 238px;
      background-color: transparent;
      -webkit-border-radius: 238px;
      -moz-border-radius: 238px;
      border-radius: 238px;
      border: 10px solid white;
      overflow: hidden;
      padding: 0;
      -webkit-box-shadow: 0 0 5px rgba(12, 13, 13, 0.29);
      -moz-box-shadow: 0 0 5px rgba(12, 13, 13, 0.29);
      box-shadow: 0 0 5px rgba(12, 13, 13, 0.29); }
      #primary[role="profile"] .content-section .content section #photo-wrap #photo img {
        margin-top: -10px;
        margin-left: -10px; }
    #primary[role="profile"] .content-section .content section h1 {
      display: block;
      clear: none;
      padding-left: 0; }
    #primary[role="profile"] .content-section .content section.footer {
      border-width: 0 0 1px;
      border-style: solid;
      border-color: #adaba7;
      margin-top: 30px;
      margin-bottom: 15px; }
      #primary[role="profile"] .content-section .content section.footer h5 {
        text-align: center;
        margin: 20px 0;
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #1d94ae;
        text-transform: uppercase; }
      #primary[role="profile"] .content-section .content section.footer .row .button {
        padding: 1px;
        margin: 0 auto 25px;
        width: 320px;
        height: 72px;
        background-color: #ff9700;
        color: white; }
        #primary[role="profile"] .content-section .content section.footer .row .button h5 {
          text-transform: uppercase;
          font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 21px;
          font-weight: 700;
          color: white;
          letter-spacing: 0.05em;
          margin: 5px 0 0;
          padding: 0; }
        #primary[role="profile"] .content-section .content section.footer .row .button p {
          font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 32px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          letter-spacing: 0.01em;
          text-align: center; }
      #primary[role="profile"] .content-section .content section.footer span {
        font-family: Georgia, serif;
        font-size: 14px;
        font-weight: normal;
        color: #444444;
        font-style: italic;
        text-align: center;
        display: block;
        margin-bottom: 20px; }
    #primary[role="profile"] .content-section .content section.bottom {
      display: table;
      padding-bottom: 15px;
      margin-bottom: 75px;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: #adaba7; }
      #primary[role="profile"] .content-section .content section.bottom p {
        width: 827px;
        height: 86px;
        background-color: #1d94ad;
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        line-height: 100%; }

.nav-menu .sub-menu,
.nav-menu .children {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  background-color: #24414e;
  margin-top: -20px;
  position: relative;
  margin-left: 30px; }
  .nav-menu .sub-menu li a,
  .nav-menu .children li a {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
    font-style: italic;
    padding: 0 0 0 30px;
    line-height: 62px; }
    .nav-menu .sub-menu li a:hover,
    .nav-menu .children li a:hover {
      font-family: Georgia, serif;
      font-size: 16px;
      font-weight: normal;
      color: #ff9700; }

#primary[role="practice"] #content[role="main"] #chat {
  margin-top: -78px;
  display: none; }
#primary[role="practice"] #content[role="main"] aside .areas {
  padding-left: 0;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #918f8b; }
  #primary[role="practice"] #content[role="main"] aside .areas h5 {
    font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #282217;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: right; }
  #primary[role="practice"] #content[role="main"] aside .areas ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal;
    color: #979797;
    line-height: 20px;
    font-style: italic; }
    #primary[role="practice"] #content[role="main"] aside .areas ul.active {
      color: #ff9700; }
    #primary[role="practice"] #content[role="main"] aside .areas ul li {
      text-align: right;
      margin-bottom: 25px;
      position: relative; }
      #primary[role="practice"] #content[role="main"] aside .areas ul li a {
        color: #646464; }
        #primary[role="practice"] #content[role="main"] aside .areas ul li a span {
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          position: absolute;
          top: 0;
          right: -16px;
          display: block;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-top: 6px solid transparent; }
      #primary[role="practice"] #content[role="main"] aside .areas ul li.current_page_item a, #primary[role="practice"] #content[role="main"] aside .areas ul li:hover a {
        color: #ff9700; }
        #primary[role="practice"] #content[role="main"] aside .areas ul li.current_page_item a span, #primary[role="practice"] #content[role="main"] aside .areas ul li:hover a span {
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid #918f8b;
          border-bottom: 6px solid transparent;
          border-top: 6px solid transparent; }
  #primary[role="practice"] #content[role="main"] aside .areas .contact-form {
    margin-left: -10px; }
#primary[role="practice"] #content[role="main"] aside .featured {
  padding-left: 30px;
  padding-right: 0; }
#primary[role="practice"] #content[role="main"] .content-section {
  padding-right: 0; }
  #primary[role="practice"] #content[role="main"] .content-section header {
    overflow: hidden;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #adaba7;
    padding-bottom: 15px; }
    #primary[role="practice"] #content[role="main"] .content-section header h4 {
      margin-top: 8px;
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 21px;
      font-weight: 700;
      color: #282217;
      text-transform: uppercase;
      text-align: center; }
  #primary[role="practice"] #content[role="main"] .content-section .content {
    padding-top: 25px;
    padding-bottom: 25px; }
    #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content {
      margin-left: 0;
      list-style: none;
      padding-left: 0; }
      #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content.col2 {
        -webkit-column-count: 2;
        -webkit-column-gap: 50px;
        -moz-column-count: 2;
        -moz-column-gap: 50px;
        column-count: 2;
        column-gap: 50px; }
        #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content.col2 li p {
          text-indent: 20px; }
      #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content:first-child {
        padding-left: 0; }
      #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content:last-child {
        padding-right: 0;
        padding-left: 0px; }
      #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content li h5 {
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #333333;
        text-transform: uppercase;
        margin: 0; }
      #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content li p {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: #282217;
        line-height: 19px;
        text-align: justify; }
      #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content li ul {
        margin-bottom: 25px;
        margin-top: 5px; }
        #primary[role="practice"] #content[role="main"] .content-section .content ul.practice-content li ul li {
          font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 12px;
          font-weight: normal;
          color: #282217;
          margin-bottom: 5px; }
  #primary[role="practice"] #content[role="main"] .content-section section #bio-wrap {
    border-top: 1px solid #adaba7;
    margin-top: 40px;
    padding-top: 40px; }
    #primary[role="practice"] #content[role="main"] .content-section section #bio-wrap #photo-wrap #photo {
      margin-bottom: 10px;
      float: left;
      width: 238px;
      height: 238px;
      background-color: transparent;
      -webkit-border-radius: 238px;
      -moz-border-radius: 238px;
      border-radius: 238px;
      border: 10px solid white;
      overflow: hidden;
      padding: 0;
      -webkit-box-shadow: 0 0 5px rgba(12, 13, 13, 0.29);
      -moz-box-shadow: 0 0 5px rgba(12, 13, 13, 0.29);
      box-shadow: 0 0 5px rgba(12, 13, 13, 0.29); }
      #primary[role="practice"] #content[role="main"] .content-section section #bio-wrap #photo-wrap #photo img {
        margin-top: -10px;
        margin-left: -10px; }
    #primary[role="practice"] #content[role="main"] .content-section section #bio-wrap h1 {
      display: block;
      clear: none;
      padding-left: 0; }
  #primary[role="practice"] #content[role="main"] .content-section section.footer {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #adaba7;
    margin-top: 30px;
    margin-bottom: 15px; }
    #primary[role="practice"] #content[role="main"] .content-section section.footer h5 {
      text-align: center;
      margin: 20px 0;
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 21px;
      font-weight: 700;
      color: #1d94ae;
      text-transform: uppercase; }
    #primary[role="practice"] #content[role="main"] .content-section section.footer .row .button {
      padding: 1px;
      margin: 0 auto 25px;
      width: 320px;
      height: 72px;
      background-color: #ff9700;
      color: white; }
      #primary[role="practice"] #content[role="main"] .content-section section.footer .row .button h5 {
        text-transform: uppercase;
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: white;
        letter-spacing: 0.05em;
        margin: 5px 0 0;
        padding: 0; }
      #primary[role="practice"] #content[role="main"] .content-section section.footer .row .button p {
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        text-align: center; }
    #primary[role="practice"] #content[role="main"] .content-section section.footer span {
      font-family: Georgia, serif;
      font-size: 14px;
      font-weight: normal;
      color: #444444;
      font-style: italic;
      text-align: center;
      display: block;
      margin-bottom: 20px; }
  #primary[role="practice"] #content[role="main"] .content-section section.bottom {
    display: table;
    padding-bottom: 15px;
    margin-bottom: 75px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #adaba7; }
    #primary[role="practice"] #content[role="main"] .content-section section.bottom p {
      width: 827px;
      height: 86px;
      background-color: #1d94ad;
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 21px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      line-height: 100%; }

.content-section .form form .gform_heading h3 {
  display: none; }
.content-section .form form .gform_heading span.gform_description {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #282217; }
.content-section .form form .gform_body ul li.gfield {
  margin-bottom: 15px; }
  .content-section .form form .gform_body ul li.gfield .ginput_container input, .content-section .form form .gform_body ul li.gfield .ginput_container textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #282217;
    padding-left: 10px;
    line-height: 35px; }
  .content-section .form form .gform_body ul li.gfield .ginput_container textarea {
    min-height: 250px; }
.content-section .form form .gform_footer input[type="submit"] {
  background-color: #1d94ae;
  background-image: none;
  border-bottom-color: #0e4a57;
  border-width: 0 0 4px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-transform: uppercase; }

#primary[role="news"] #content[role="main"] #chat {
  margin-top: -78px; }
#primary[role="news"] #content[role="main"] aside {
  padding-bottom: 45px;
  padding-left: 88px;
  padding-right: 0; }
  #primary[role="news"] #content[role="main"] aside .areas {
    padding-right: 0;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #918f8b; }
    #primary[role="news"] #content[role="main"] aside .areas h5 {
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #282217;
      text-transform: uppercase;
      margin-top: 5px;
      text-align: left; }
    #primary[role="news"] #content[role="main"] aside .areas ul {
      list-style-type: none;
      margin: 0;
      padding: 0 65px 0 0;
      font-family: Georgia, serif;
      font-size: 16px;
      font-weight: normal;
      color: #979797;
      line-height: 20px;
      font-style: italic; }
      #primary[role="news"] #content[role="main"] aside .areas ul.active {
        color: #ff9700; }
      #primary[role="news"] #content[role="main"] aside .areas ul li {
        text-align: left;
        margin-bottom: 25px;
        position: relative; }
        #primary[role="news"] #content[role="main"] aside .areas ul li a {
          color: #646464; }
          #primary[role="news"] #content[role="main"] aside .areas ul li a span {
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -ms-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease;
            position: absolute;
            top: 0;
            left: -16px;
            display: block;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-top: 6px solid transparent; }
        #primary[role="news"] #content[role="main"] aside .areas ul li.current_page_item a, #primary[role="news"] #content[role="main"] aside .areas ul li:hover a {
          color: #ff9700; }
          #primary[role="news"] #content[role="main"] aside .areas ul li.current_page_item a span, #primary[role="news"] #content[role="main"] aside .areas ul li:hover a span {
            width: 0;
            height: 0;
            border-left: 6px solid #918f8b;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-top: 6px solid transparent; }
    #primary[role="news"] #content[role="main"] aside .areas .contact-form {
      margin-left: 0px; }
      #primary[role="news"] #content[role="main"] aside .areas .contact-form img {
        width: 100%; }
    #primary[role="news"] #content[role="main"] aside .areas .popular {
      border-width: 1px 0;
      border-style: solid;
      border-color: #918f8b;
      margin-bottom: 30px; }
      #primary[role="news"] #content[role="main"] aside .areas .popular h4 {
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #3f9fb6;
        text-transform: uppercase;
        margin-bottom: 12px; }
      #primary[role="news"] #content[role="main"] aside .areas .popular h5 {
        margin-top: 0;
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #282217;
        display: block;
        margin-right: 50px;
        margin-bottom: 5px; }
      #primary[role="news"] #content[role="main"] aside .areas .popular .meta {
        font-family: Georgia, serif;
        font-size: 12px;
        font-weight: normal;
        color: #999999;
        margin-bottom: 15px;
        font-style: italic; }
  #primary[role="news"] #content[role="main"] aside .featured {
    padding-left: 30px;
    padding-right: 0; }
#primary[role="news"] #content[role="main"] .content-section {
  padding-right: 0;
  padding-left: 0; }
  #primary[role="news"] #content[role="main"] .content-section .post {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #adaba7;
    max-width: 951px;
    margin-bottom: 15px;
    padding-bottom: 15px; }
    #primary[role="news"] #content[role="main"] .content-section .post.single-post .content header {
      float: left;
      padding-left: 0; }
      #primary[role="news"] #content[role="main"] .content-section .post.single-post .content header .post-meta {
        margin-top: 0px;
        display: block;
        font-size: 9px;
        margin-bottom: 0; }
      #primary[role="news"] #content[role="main"] .content-section .post.single-post .content header p.source {
        display: block;
        width: 100%;
        margin-top: 0; }
    #primary[role="news"] #content[role="main"] .content-section .post.single-post .content aside.post-sidebar {
      padding: 0; }
      #primary[role="news"] #content[role="main"] .content-section .post.single-post .content aside.post-sidebar .widget-wrap ul.categories-list {
        list-style: none;
        margin: 0;
        padding: 0; }
        #primary[role="news"] #content[role="main"] .content-section .post.single-post .content aside.post-sidebar .widget-wrap ul.categories-list li.categories {
          font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 700;
          color: #282217; }
          #primary[role="news"] #content[role="main"] .content-section .post.single-post .content aside.post-sidebar .widget-wrap ul.categories-list li.categories ul {
            list-style: none;
            margin: 0;
            padding: 0; }
    #primary[role="news"] #content[role="main"] .content-section .post.single-post .content .entry-content p {
      float: left; }
    #primary[role="news"] #content[role="main"] .content-section .post.single-post .content .entry-content .post-meta {
      font-size: 11px;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 700;
      color: #a19fa1;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 0px;
      margin-top: 10px; }
      #primary[role="news"] #content[role="main"] .content-section .post.single-post .content .entry-content .post-meta a {
        font-family: Georgia, serif;
        font-size: 12px;
        font-weight: normal;
        color: #3b3a3b;
        text-transform: capitalize;
        font-style: italic; }
    #primary[role="news"] #content[role="main"] .content-section .post.single-post .content .entry-content .source {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 700;
      color: #a19fa1;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 10px; }
      #primary[role="news"] #content[role="main"] .content-section .post.single-post .content .entry-content .source span {
        font-family: Georgia, serif;
        font-size: 12px;
        font-weight: normal;
        color: #3b3a3b;
        font-style: italic;
        text-transform: capitalize; }
    #primary[role="news"] #content[role="main"] .content-section .post .featured {
      padding-right: 25px;
      padding-left: 0; }
      #primary[role="news"] #content[role="main"] .content-section .post .featured a {
        position: relative;
        display: block;
        max-width: 381px;
        width: 100%; }
        #primary[role="news"] #content[role="main"] .content-section .post .featured a img {
          width: 100%; }
        #primary[role="news"] #content[role="main"] .content-section .post .featured a span {
          background-color: rgba(255, 255, 255, 0.8);
          position: absolute;
          display: block;
          top: 10px;
          right: 10px;
          bottom: 10px;
          left: 10px;
          vertical-align: middle;
          letter-spacing: 0.05em;
          font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
          color: #1d93ad;
          line-height: 190px;
          text-align: center;
          opacity: 0;
          -webkit-transition: opacity 0.35s ease;
          -moz-transition: opacity 0.35s ease;
          -ms-transition: opacity 0.35s ease;
          -o-transition: opacity 0.35s ease;
          transition: opacity 0.35s ease; }
          #primary[role="news"] #content[role="main"] .content-section .post .featured a span:hover {
            opacity: 1;
            -webkit-transition: opacity 0.35s ease;
            -moz-transition: opacity 0.35s ease;
            -ms-transition: opacity 0.35s ease;
            -o-transition: opacity 0.35s ease;
            transition: opacity 0.35s ease; }
    #primary[role="news"] #content[role="main"] .content-section .post .content {
      padding-left: 0; }
      #primary[role="news"] #content[role="main"] .content-section .post .content .featured-single {
        padding-right: 0px;
        padding-left: 15px;
        float: left; }
        #primary[role="news"] #content[role="main"] .content-section .post .content .featured-single a {
          position: relative;
          display: block;
          max-width: 381px;
          width: 100%; }
          #primary[role="news"] #content[role="main"] .content-section .post .content .featured-single a img {
            width: 100%; }
          #primary[role="news"] #content[role="main"] .content-section .post .content .featured-single a span {
            background-color: rgba(255, 255, 255, 0.8);
            position: absolute;
            display: block;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            vertical-align: middle;
            letter-spacing: 0.05em;
            font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: #1d93ad;
            line-height: 190px;
            text-align: center;
            opacity: 0;
            -webkit-transition: opacity 0.35s ease;
            -moz-transition: opacity 0.35s ease;
            -ms-transition: opacity 0.35s ease;
            -o-transition: opacity 0.35s ease;
            transition: opacity 0.35s ease; }
            #primary[role="news"] #content[role="main"] .content-section .post .content .featured-single a span:hover {
              opacity: 1;
              -webkit-transition: opacity 0.35s ease;
              -moz-transition: opacity 0.35s ease;
              -ms-transition: opacity 0.35s ease;
              -o-transition: opacity 0.35s ease;
              transition: opacity 0.35s ease; }
      #primary[role="news"] #content[role="main"] .content-section .post .content header {
        margin-bottom: 10px; }
        #primary[role="news"] #content[role="main"] .content-section .post .content header h4 {
          font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 21px;
          font-weight: 700;
          color: #1d93ad;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 8px; }
        #primary[role="news"] #content[role="main"] .content-section .post .content header .entry-meta {
          font-family: Georgia, serif;
          font-size: 12px;
          font-weight: normal;
          color: #7b797b;
          font-style: italic; }
      #primary[role="news"] #content[role="main"] .content-section .post .content p {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        color: #7b797b;
        line-height: 19px; }
      #primary[role="news"] #content[role="main"] .content-section .post .content footer {
        background-image: none;
        padding-top: 5px; }
        #primary[role="news"] #content[role="main"] .content-section .post .content footer p.post-meta {
          font-family: Georgia, serif;
          font-size: 12px;
          font-weight: normal;
          color: #7b797b;
          font-style: italic;
          margin-bottom: 20px; }
          #primary[role="news"] #content[role="main"] .content-section .post .content footer p.post-meta a {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            font-style: italic; }
      #primary[role="news"] #content[role="main"] .content-section .post .content a.readmore {
        font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #ff9700;
        text-transform: uppercase;
        position: relative;
        margin-top: -5px;
        display: inline-block; }
        #primary[role="news"] #content[role="main"] .content-section .post .content a.readmore:after {
          content: "\f067";
          display: block;
          font-family: fontawesome;
          position: absolute;
          top: .42em;
          font-size: 8px;
          right: -12px; }

#primary[role="practice"] .post {
  margin-bottom: 30px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #282217; }
  #primary[role="practice"] .post:first-child {
    margin-left: 0;
    padding-left: 0;
    padding-right: 10px; }
  #primary[role="practice"] .post:last-child {
    margin-right: 0;
    padding-right: 0;
    padding-left: 10px; }
  #primary[role="practice"] .post a.featured img {
    max-width: 100%; }
  #primary[role="practice"] .post h5 {
    font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #282217;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 5px; }
    #primary[role="practice"] .post h5 a {
      font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 19px;
      font-weight: 700;
      color: #282217;
      line-height: 20px;
      text-transform: uppercase; }
  #primary[role="practice"] .post .entry-meta {
    font-size: 10px;
    margin-bottom: 15px; }
  #primary[role="practice"] .post a .excerpt p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #282217; }

footer {
  background-image: url("../img/orange-border.png");
  background-repeat: repeat-x;
  background-position: center top;
  padding-top: 10px; }
  footer .inner {
    margin: 0;
    padding: 0;
    background-color: #3d5f6e;
    color: #fff;
    min-height: 300px; }
    footer .inner .site-info .visit {
      margin: 0;
      padding: 0; }
      footer .inner .site-info .visit .container {
        width: 293px;
        text-align: left;
        margin: 0;
        padding: 0; }
        footer .inner .site-info .visit .container h5 {
          font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          text-align: left;
          border-width: 0 0 1px;
          border-style: solid;
          border-color: #d3cfc9;
          padding-bottom: 10px;
          margin-bottom: 20px; }
        footer .inner .site-info .visit .container p {
          line-height: 32px;
          font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 16px;
          font-weight: normal;
          color: white;
          margin: 0; }
    footer .inner .site-info div.social .container .links {
      display: block;
      max-width: 270px;
      margin: 20px auto 0;
      position: relative;
      z-index: 9999999; }
      footer .inner .site-info div.social .container .links a {
        display: block;
        width: 58px;
        height: 59px;
        float: left;
        margin: 10px 6px;
        background-repeat: no-repeat; }
        footer .inner .site-info div.social .container .links a.fb {
          background-image: url(../img/fb.png);
          margin-left: 0; }
        footer .inner .site-info div.social .container .links a.ln {
          background-image: url(../img/ln.png); }
        footer .inner .site-info div.social .container .links a.tw {
          background-image: url(../img/tw.png); }
        footer .inner .site-info div.social .container .links a.gp {
          background-image: url(../img/gp.png);
          margin-right: 0; }
    footer .inner .site-info .call {
      margin-right: 0;
      padding-right: 0; }
      footer .inner .site-info .call .container {
        margin: 0;
        padding: 0;
        width: 293px;
        float: right; }
        footer .inner .site-info .call .container h5 {
          font-family: "open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          text-align: right;
          border-width: 0 0 1px;
          border-style: solid;
          border-color: #d3cfc9;
          padding-bottom: 10px;
          margin-bottom: 20px; }
        footer .inner .site-info .call .container .content {
          display: table;
          width: 100%; }
          footer .inner .site-info .call .container .content .tr {
            display: table-row;
            width: 100%; }
            footer .inner .site-info .call .container .content .tr p {
              display: table-cell;
              text-align: left;
              line-height: 32px;
              font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
              font-size: 16px;
              font-weight: normal;
              color: white; }
            footer .inner .site-info .call .container .content .tr span {
              display: table-cell;
              text-align: right;
              font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
              font-size: 16px;
              font-weight: normal;
              color: #92cdcf; }

/*# sourceMappingURL=main.css.map */