@import "fontface";
// Fonts
$font:"nimbus-sans", sans-serif;
$lato:"lato", sans-serif;
$droid:"droid-serif",serif;
$swissBd: 'swis721_btbold','Helvetica Neue', helvetica, sans-serif;
$swissRn: 'swis721_btroman','Helvetica Neue', helvetica, sans-serif;
$swissLt: 'swis721_lt_btlight','Helvetica Neue', helvetica, sans-serif;
$swissMd: 'swis721_md_btmedium','Helvetica Neue', helvetica, sans-serif;
$swissOb: 'swiss_721_swaoblique','Helvetica Neue', helvetica, sans-serif;
$swissTh: 'swis721_th_btthin','Helvetica Neue', helvetica, sans-serif;


// Font Weights
$thin:300;
$normal:normal;
$bold:bold;

// Base Font
$font-family: sans-serif;
$font-weight: $normal;
$font-size: 16px;
$line-height: 14px;

// Featured Text
$featured-font-size:30px;
$featured-font-weight:$thin;
$featured-line-height:34px;

// Nav Menu
$nav-font-size:16px;
$nav-font-weight:$normal;
$nav-line-height:14px;



